@model DemoMVCApplication.Models.Movie
@{
    ViewBag.Title = "AddMovie";
}

<h2>AddMovie</h2>

@using (@Html.BeginForm("AddMovie", "Home", FormMethod.Post))
{
    <div class="update form-horizontal">
        <hr />
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MovieId)
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @type = "date", @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <button class = "btn btn-primary btn-large">Add Movie</button>
                </td>
                <td>
                    @Html.ActionLink("Cancel", "ShowMovies", "Home", null, new { @class = "btn btn-danger btn-large" })
                </td>
            </tr>

        </table>

    </div>
}